body,
html {
	background: white;
	font-family: "Calibri";
}

.page {
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.headtitle {
	display: flex;
	color: #8055FF;
	background-color: #A8A8FF;
    height: 2rem;
	font-weight: bold;
    font-size: 26px;
	margin: 2rem;
}

.searchline {
	display: flex;
    padding: 0.5rem;
	background-color: white;
	border: solid #A8A8FF 2px;
	color: #8055FF;
    margin: 0rem 2rem;
}

.searchline__block1 {
	background-color: #8055FF;
	width: 16rem;
	height: 2rem;
    margin-right: 1rem;
}

.searchline__block2 {
	background-color: #8055FF;
	width: 2rem;
	height: 2rem;
    margin-right: auto;
}

.searchline__block3 {
	background-color: #8055FF;
	width: 2rem;
	height: 2rem;
}

.table {
    display: flex;
	background-color: #A8A8FF;
	color: #8055FF;
    flex-direction: column;
    border: solid #8055FF 1px;
	overflow: hidden;
	margin: 2rem 2rem 0 2rem;
	height: 100%;
}

.table__header {
	background-color: #8055FF;
	height: 40px;
}

.table__body {
	height: 100%;
	display: flex;
	flex-direction: column;
  	overflow-y: auto;
}

.table__footer {
	background-color: #8055FF;
	height: 40px;
}